<%- include("header") -%>

<div class="box">
  <h2>Hi, I'm Venessa, the author of this not-to-do-list app.</h2>

  <p>If you're interested in my other works or my contact information, please checkout my personal website at <a href="https://www.venessaliu.com">www.venessaliu.com</a></p>
  <p>Have a wonderful day!</p>
</div>


<%- include("footer") -%>
